@model BabyFeedingRecordWebApplication.Models.FeedingRecord

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>FeedingRecord</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FeedingDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FeedingDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FeedingTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FeedingTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MotherMilkVolume)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MotherMilkVolume)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FormularMilkVolume)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FormularMilkVolume)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Memo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Memo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
