@model IEnumerable<BabyFeedingRecordWebApplication.Models.FeedingStatistics>

@{
    ViewData["Title"] = "Index";
    int currPage = 1;
    int pageSize=30;
    if (ViewData["currPageNo"] != null) 
        int.TryParse(ViewData["currPageNo"].ToString(), out currPage);

    var ModelLst = Model.ToList();
    int totalPageSize = (int)Math.Ceiling((Model.Count() / (double)pageSize));
}

<h1>FeedingStatistics</h1>

<p>
    @for(int pageNo=0;pageNo<totalPageSize;pageNo++){
        if((@pageNo+1)==@currPage) {
            <label>[@currPage]</label>
        }
        else{
            <a asp-action="Index" asp-route-pageIndex=@(pageNo+1)>@(pageNo+1)</a>;
        }
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FeedingTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MotherMilkTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FormularMilkTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeIntervalAvg)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@*@foreach (var item in Model) {*@
        @for(int i=((currPage-1)*pageSize);i<((currPage-1)*pageSize+pageSize);i++){

            if (i > ModelLst.Count - 1) break;

            var item = ModelLst[i];

            <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FeedingTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem=>item.MMilkTotalWithPcntg)
            </td>
            <td>
                @Html.DisplayFor(modelItem=>item.FMilkTOtalWithPcntg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeIntervalAvg)
            </td>
       
        </tr>
}
    </tbody>
</table>
