@model IEnumerable<BabyFeedingRecordWebApplication.Models.BabyFood>

@{
    ViewData["Title"] = "Index";
    int duration = 30;
    if (ViewData["BabyFoodDuration"] != null)
        duration = int.Parse(ViewData["BabyFoodDuration"].ToString());
}

<h1>@duration 日副食品統計資料</h1>

<p>
    <a asp-action="BabyFoodTypeList">Category of baby food</a>
</p>

<p>
    <label>統計日基期選擇:</label>
    <a asp-action="Index" asp-route-totalDay=7>7</a>
    <a asp-action="Index" asp-route-totalDay=15>15</a>
    <a asp-action="Index" asp-route-totalDay=30>30</a>
     

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                <label>食用連續天數(最長)列表</label>
            </th>
            <th>
                <label>食用連續天數(最長)</label>
            </th>
            <th>
                <label>食用總天數</label>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                    @if (item.ConsecutiveDates != null)
                    {
                        int counter = 0;
                        @foreach (var dateval in item.ConsecutiveDates)
                        {

                            @if ((counter++ % 2) == 0)
                            {
                                @if (counter - 1 > 0)
                                {
                                    <br />
                                }
                            }
                            <a asp-action="RecordOfDay" asp-route-queryDateStr=@dateval.ToString("yyyy/MM/dd")>@dateval.ToString("yyyy/MM/dd")</a>
                            @if (counter<Model.Count()-1)
                            {
                                <label>, </label>
                            }
                        }
                    }
            </td>
                <td>
                    <a asp-action="Details" asp-route-id=@item.Id>@item.ConsecutiveDates.Count</a>
                </td>
            <td>
                    <a asp-action="Details" asp-route-id=@item.Id>@item.WholeDates.Count</a>
            </td>
        </tr>
}
    </tbody>
</table>
